@import url('https://fonts.googleapis.com/css?family=Poppins: 200, 300, 400, 500, 600, 700, 800, 900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #9e9d9d;
    display: flex;
    align-items: center;
}

.banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.65;
}

.banner .content {
    position: relative;
    max-width: 400px; 
    text-align: center;
    margin-left: 6%;
    background: radial-gradient(circle, rgba(0,0,0,1), rgba(0,0,0,0.65), rgba(0,0,0,0));
    height: 100%;
    padding-top: 20vh;
}

.banner .content h2 {
    color: #fff;
    font-size: 50px;
}

.banner .content p {
    color: #fff;
    font-size: 18px;
}

.banner .question {
    background: #d68d41;
    border-radius: 10px;
    padding: 10px;
    margin-top: 40px;
}
  
.banner .first.question {
    max-width: 120px;
    transform: rotate(8deg);
    display: inline-block;
    transform: perspective(800px) rotateY(15deg) rotateX(10deg);
    background: linear-gradient(120deg, #d68d41, #5d9d6b);
}
  
.banner .second.question {
    margin-left: 50px;
    max-width: 120px;
    transform: rotate(-8deg);
    display: inline-block;
    transform: perspective(800px) rotateY(-15deg) rotateX(10deg);
    background: linear-gradient(240deg, #d68d41, #5d9d6b);
}
  
.banner .third.question {
    max-width: 60%;
    margin-left: 20%;
    transform: perspective(800px) rotateY(0deg) rotateX(20deg);
    background: linear-gradient(0deg, #d68d41, #5d9d6b);
}

.about {
    position: relative;
    width: 100%;
    display: flex;
    /* font-family: 'Jungle Roar'; */
}
  
.about .contentBx {
    background: #00211c;
    padding: 100px;
    color: #d68d41;
}

.about .contentBx h2 {
    font-size: 40px;
}

@media (max-width: 1000px) {
    .banner .content {
        margin-left: 0%;
    }

    .banner img {
        object-position: right bottom;
    }

    .banner .content h2 {
        font-size: 40px;
    }
    
    .banner .content p {
        font-size: 15px;
    }

    .banner .question {
        font-size: 14px;
    }
}